body{
    height: auto;
    background-color: #222;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;

    text-align: center;
}

.header{
    color: blue;
    text-align: center;
}